.recommendations .btn, .favorites .btn {
    color: white;
    background-color: #005DE9;
    border-radius: 6px;
    width: 320px;
}

.recommendations .card i, .favorites .card i {
    color: white;
}
