.App {
  text-align: center;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
  margin: 4vmin 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h5 {
  margin-left: 12px;
  text-align: left;
  color: #333;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}

.card .card-image {
  padding: 12px;
}

.card .card-image img {
  border-radius: 12px;
}

/* profile-image */
.btn-floating.btn-large {
  width: 92px !important;
  height: 92px !important;
  border: 1px solid black;
}
